<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        (click)="collapsed = !collapsed"
      >
        <span
          class="icon-bar"
          *ngFor="let iconBar of [1, 2, 3]"
        ></span>
      </button>
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div
      class="collapse navbar-collapse"
      [class.collapse]="collapsed"
      (window:resize)="collapsed = true"
    >
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li
          class="dropdown"
          appDropdown
          *ngIf="!isSaving && !isFetching"
        >
          <a
            class="dropdown-toggle"
            role="button"
            [ngStyle]="{ cursor: 'pointer' }"
            >Manage <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a
                [ngStyle]="{ cursor: 'pointer' }"
                (click)="onStorageRecipes()"
                >Save Data</a
              >
            </li>
            <li>
              <a
                [ngStyle]="{ cursor: 'pointer' }"
                (click)="onFetchRecipes()"
                >Fetch Data</a
              >
            </li>
          </ul>
        </li>
        <li class="dropdown" *ngIf="isSaving">
          <a class="dropdown-toggle" role="button">Saving...</a>
        </li>
        <li class="dropdown" *ngIf="isFetching">
          <a class="dropdown-toggle" role="button">Loading...</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
